<section class="section">
    <h2 class="title">Listings</h2>
    <div class="sliderWrapper">

        <div class="slider">
            <div class="cardsContainer">
                <button class="arrow">

                </button>

                <div *ngFor="let card of cards" class="card">
                    <img [src]="card.img" alt="Listing" class="image" />
                    <img *ngIf="!card.available" [src]="IMAGES['closed']" class="unavailable" />
                    <div>
                        <span class="saleText">Sale</span>
                        <span class="numberOfPhotos">
                            1
                            <span class="cameraIcon">
                                <img [src]="IMAGES['camera']" />
                            </span>
                        </span>
                    </div>
                    <div class="address">
                        <span class="locationIcon">
                            <img [src]="IMAGES['location']" />
                        </span>
                        <span class="locationText"> 1234 Elm St, Springfield, IL 62704</span>
                    </div>
                    <div class="price">
                        <span>{{card.price}}</span>
                        <span>
                            <span class="heartIcon">
                                <img [src]="IMAGES['heart']" />
                            </span>
                            <span class="shareIcon">
                                <img [src]="IMAGES['share']" />
                            </span>
                        </span>
                    </div>

                    <div class="days">
                        {{card.days}}days on Reverifi
                    </div>
                    <div class="sale">Sale</div>

                    <div class="stats">
                        <div>
                            <span>5 </span>
                            <span class="cardIcons">
                                <img [src]="IMAGES['bed']"/>
                            </span>
                        </div>
                        <div>
                            <span>5 </span>
                            <span class="cardIcons">
                                <img [src]="IMAGES['shower']"/>
                            </span>
                        </div>
                        <div>
                            <span>3 </span>
                            <span class="cardIcons">
                                <img [src]="IMAGES['garage']"/>
                            </span>
                        </div>
                    </div>

                    <div class="listFooter">
                        <div class="actions">
                            <span>
                                <img [src]="IMAGES['filled-heart']"/>
                                4
                            </span>
                            <span>
                                <img [src]="IMAGES['message']"/>                                
                                2 Views

                            </span>
                        </div>
                        <button class="viewBtn">View Listing</button>
                    </div>
                </div>

                <button class="arrow">

                </button>
            </div>
        </div>

    </div>
</section>